* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*:focus {
    outline: none;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

body {
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  background: #EEE;
}

#container {
	top: 0;
	bottom: 0;
	margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E0E0E0;
}

#content {
	position: absolute;
	left: 300px;
	right: 0;
	bottom: 0;
	top: 75px;
	margin: 0;
}

#header {
	background: #FFF;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 75px;
	left: 0;
	padding: 0 30px 0 30px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	z-index: 10;
}

#header a {
	line-height: 75px;
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Arial";
    font-size: 10.4px;
    font-weight: bold;
    letter-spacing: 2.8px;
    transition: all 0.2s ease;	
    float: right;
}

#footer {
    background: #000;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    left: 300px;
}

#navbar {
	position: absolute;
	left:0;
	width: 300px;
	height: 100%;
	top: 0;
    background: #093171;
    padding-top: 75px;
}

#navbar ul {
	list-style: none;
    padding: 2.5em 2.5em 0.5em 2.5em;
}

#navbar ul a {
	color: rgba(255, 255, 255, 0.35);
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Arial";
	font-size: 10.4px;
	font-weight: bold;
	letter-spacing: 2.8px;
	display: block;
	position: relative;
	transition: all 0.2s ease;
	padding: 1.35em 0;
}

#navbar ul a:hover {
	color: #FAFAFA;
}

#navbar ul a:after {  
    -webkit-transition: all 250ms;
    transition: all 250ms;
    background: rgba(4, 69, 130, 0.90);
    border-radius: 0.2em;
    content: '';
    height: 0.2em;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 24px;
}

#navbar li {
	margin: 1.5em 0 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
}

#navbar ul .active {
    color: #FFF;
}

#navbar ul .active:after {
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    -webkit-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
}

.content-holder {
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    bottom: 0;
	padding: 0 30px 30px 30px;
	z-index: 0;
	overflow: scroll;
}

.content-holder h1 {
    font-family: Raleway;
    color: #444;
    font-size: 18px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 0;
    font-weight: bold;
    padding: 30px;
    letter-spacing: 2.0px;
    background: #FAFAFA;
    text-transform: uppercase;
    border-bottom: 1px solid #EEE;
}

.display-table {
	font-size: 18px !important;
}

.dtr {
	font-size: 15px !important;
	color: #656565;
	border-bottom: 1px solid #EEE !important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dth {
	font-size: 14px !important;
    color: #333 !important;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border-bottom: 1px solid #EEE !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.error-page {
	text-align: center;
	margin-top: 200px;
}

.error-title {
    font-size: 34px !important;
    font-weight: 200;
    color: #222;
}

.error-message {
	font-family: "Roboto";
	font-size: 16px;
    letter-spacing: 0.2px;
    color: #555;
}

.table-container {
	margin-bottom: 100px;
}