body {
    background: #1959c3;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", "Sans-Serif";
}

label {
    font-size: 16px !important;
    -webkit-font-smoothing: antialiased;
    rgba(0,0,0,0.26);
}

hr {
	border-bottom-color: rgba(0, 0, 0, 0.12); !important;
}

#container {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#content {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;	
}

.clear {
	clear: both;
}

.mui-red {
	background: rgb(244,67,54) !important;
}

.mui-button-full {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    border-radius: 3px !important;
}

.mui-button-fixed {
    width: 300px !important;
	margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    border-radius: 3px !important;
}

.mui-button-standard {
    width: 200px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    border-radius: 3px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.application-bar {
	position: absolute !important;
	top: 0 !important;
	width: 100% !important;
}

.login-brand {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 80px;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.appbar-brand {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 11px;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.login-icon {
    width: 36px;
    height: 36px;
    margin-left: 18px;
    margin-top: 18px;
}

.brand-icon {
	width: 26px;
	height: 26px;
	margin-left: 8px;
    margin-top: 8px;
}

.login-container {
    width: 700px;
    margin: 0 auto;
    padding: 60px 150px 90px 150px !important;
    margin-top: 250px;
}

.login-container input {
    width: 100% !important;
}

.login-container h2 {
    font-family: "Lato", "Arial", "Sans-Serif" !important;
    font-weight: 300 !important;
    font-size: 36px;
    margin: 0;
    line-height: 42px;
}

.login-container p {
	color: #555;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 0.3px;
}

.scrollable-results {
    position: absolute;
    left: 0;
    top: 120px;
    overflow: scroll;
    width: 500px;
    padding: 0;
    height: 100%;
    background: #F3F3F3;
}

.results-panel {
	position: absolute;
	left: 0;
	top: 63px;
	width: 500px;
	height: 100%;
	background: #FAFAFA;
}

.results-panel .result {
	padding: 20px 40px !important;
    clear: both !important;
    border-bottom: 1px solid #FFF !important;
    transition: background-color 350ms;
}

.results-panel .result:hover {
	background-color: #FFF;
	cursor:pointer;
}

.results-panel .result-content {
    float: left;
    width: 350px;
}

.results-panel h4 {
	font-family: "Lato" !important;
    font-weight: 400 !important;
    font-size: 18px !important;	
	margin: 0;
}

.results-panel p {
	font-family: "Lato" !important;
	font-size: 14px;
	color: #444;
	margin-top: 5px;
	margin-bottom: 0;
	letter-spacing: 0.3px;
}

.overlay-add-button {
    float: right;
    margin-top: 32px;
}

.pagination-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination-element {
    display: inline-block;
    padding: 2px 7px;
    border-bottom: 2px solid #CCC;
    font-family: "Helvetica Neue", "Helvetica", "Sans Serif";
    font-size: 12px;  
    font-weight: bold;
    margin-right: 7px;  
}

.pagination-element:hover {
    cursor: pointer;
    background: #F0F0F0;
}

.pagination-active {
    border-bottom: 2px solid red !important;
}

#header {
    padding: 0 35px;
    height: 120px;
    background: #154ba5;
}

#header p {
	margin-top: 0 !important;
}

#header h2 {
	font-family: "Lato", "Arial", "Sans-Serif" !important;
    font-weight: 300 !important;
    font-size: 28px;
    margin: 0;
    line-height: 42px;
    float: left;
    line-height: 120px;
    padding-left: 5px;
    color: #EEE;
}

.view-container {
    background: #FFF;
    height: 100%;
    position: absolute;
    left: 500px;
    top: 63px;
    right: 0;
}

.view-header {
	height: 120px;
	background: #1752b4;
    padding: 0 35px;
}

.view-header h2 {
    font-family: "Lato", "Arial", "Sans-Serif" !important;
    font-weight: 300 !important;
    font-size: 28px;
    margin: 0;
    line-height: 42px;
    float: left;
    line-height: 115px;
    padding-left: 5px;
    color: #EEE;	
}

.view-header .actions {
	float: right;
	margin-top: 40px;
}

#menu-items a {
	color: #333;
	text-decoration: none;
}

.menu-spacer {
	margin-bottom: 20px !important;
}

.full-page-notice {
	background: #FFF;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 500;
    margin-top: 65px;
    text-align: center;
    padding: 200px;
}

.full-page-notice h2 {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #555;	
    font-weight: 300;
    font-size: 34px;    
}

.validation-error {
	padding: 20px;
	margin: 20px 0 10px 0;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #FB8C00;
	border-radius: 3px;
}

.validation-error .warn {
	float: left;
	color: #FB8C00 !important;
}

.validation-error p {
	display: block;
	float: left;
	margin: 0;
	font-weight: 400;
	line-height: 24px;
	width: 85%;
	padding-left: 20px;
}

.modal-form-container {
	padding: 0 150px 0 150px;
}

.modal-title {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0,0,0,0.75);
    font-family: "Helvetica Neue", "Helvetica", "Sans Serif";
    margin-bottom: 10px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.modal-message-center {
	text-align: center;
	padding-top: 35px;
}

.modal-validation-error {
	margin: 0 60px 0 60px;
}

.modal-progress {
	margin: 0 auto !important;
	width: 415px !important;
	margin-top: 5px !important;
}

.details-table {
	width: 650px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 18px;
	font-weight: 200;
}

.details-table td {
	padding: 10px;
}

.details-table .key {
	text-align: right;
	font-weight: 400;
}

.error-page {
    text-align: center;
    padding-top: 200px;
    background: #FFF;
    height: 100%;
}

.error-title {
    font-size: 34px !important;
    font-weight: 200;
    color: #222;
}

.error-message {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #555;
}