body {
	background: url(/img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}

label {
    font-size: 16px !important;
    -webkit-font-smoothing: antialiased;
    rgba(0,0,0,0.26);
}

hr {
	border-bottom-color: rgba(0, 0, 0, 0.12); !important;
}

#container {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #E0E0E0;
    overflow-y: hidden;
}

#content {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;	
}

.mui-red {
	background: rgb(244,67,54) !important;
}

.mui-button-full {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    border-radius: 3px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.application-bar {
	position: absolute !important;
	top: 0 !important;
	width: 100% !important;
}

.login-container {
    width: 700px;
    margin: 0 auto;
    padding: 60px 150px 90px 150px !important;
    margin-top: 250px;
}

.login-container input {
    width: 100% !important;
}

.login-container h2 {
    font-family: "Lato", "Arial", "Sans-Serif" !important;
    font-weight: 300 !important;
    font-size: 36px;
    margin: 0;
    line-height: 42px;
}

.login-container p {
	color: #555;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 0.3px;
}

.results-panel {
	position: absolute;
	left: 0;
	top: 65px;
	overflow: scroll;
	width: 500px;
	padding: 30px;
	height: 100%;
	background: #FFF;
}